@charset 'utf-8';

.box{
    width: 80px;
    height: 80px;
    display: inline-block;
    background-color: #FFCC00;
    font-size: 30px;
    text-align: center;
    position: fixed;
}
#one{
    left: 100px;
}
#two{
    left: 0px;
    bottom: 0px;
}
#three{
    left: 150px;
}
#top-box{
    height: 200px;
    border: solid 1px #000000;
}
#bottom-box{
    border: solid 1px #000000;
    height: 500px;
}