@charset 'utf-8';

*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
.top{
	height: 143px;
}
	.search{
		height: 100px;
		background-color: #00C73C;
	}
		.logo{
			height: 100px;
			text-align: center;
		}
		.search-in{
			height: 89px;
			margin-top: -100px;
		}
		.search-in>form{
			height: 89px;
			padding: 49px 15px 0px 15px;
		}
			.search-box{
				height: 40px;
				background-color: #FFFFFF;
				position: relative;
			}
				.search-inbox{
					padding: 9px 125px 0px 10px;
					height: 36px;
				}
				.search-input{
					width: 100%;
					display: block;
					border: 0px;
					outline: 0px;
					height: 27px;
					line-height: 27px;
					font-size: 17px;
				}
				.btns{
					position: absolute;
					top: 0px;
					right: 7px;
					bottom: 0px;
				}
					.btn{
						border: 0px;
						outline: 0px;
						background-color: #FFFFFF;
						width: 38px;
						height: 40px;
						margin-left: 1px;
						float: left;
					}
						.btn1,
						.btn2,
						.btn3{
							display: inline-block;
							background-image: url('https://s.pstatic.net/static/www/m/2018/sp_main_v181115a.png');
							background-size: 655px 642px;
						}
						.btn1{
							width: 20px;
							height: 24px;
							background-position: -572px -162px;
							vertical-align: top;
						}
						.btn2{
							width: 23px;
							height: 22px;
							background-position: -543px -481px;
							vertical-align: top;
						}
						.btn3{
							width: 18px;
							height: 24px;
							background-position: -599px -48px;
					    vertical-align: top;
						}
			.ham-box{
				width: 50px;
				height: 48px;
				display: inline-block;
				vertical-align: top;
				position: absolute;
				top: 0px;
				left: 0px;
			}
				.ham-menu{
					display: block;
					width: 22px;
					height: 17px;
					position: absolute;
					top: 16px;
					left: 14px;
					background-position: -599px -275px;
					background-image: url('https://s.pstatic.net/static/www/m/2018/sp_main_v181115a.png');
    			background-size: 655px 642px;
				}
	.menu{
		height: 43px;
		position: relative;
		border-bottom: solid 1px #CCCCCC;
	}
		.menu-in{
			height: 43px;
			padding-right: 53px;
			padding-left: 12px;
		}
			.menu-contents{
				width: 100%;
				height: 100%;
				display: table;
			}
				.menu-content{
					width: 400px;
					display: table-cell;
					text-align: center;
					line-height: 44px;
				}
					.menu-common{
						display: block;
						height: 43px;
						line-height: 44px;
						margin: 0 auto;
					}
					.menu-content1{
						width: 38px;
						border-bottom: 2px solid #16B634;
					}
					.menu-content2{
						width: 37px;
					}
					.menu-content3{
						width: 52px;
					}
					.menu-content4{
						width: 36px;
					}
					.menu-content5{
						width: 64px;
					}
					.menu-content1>.icon{
						width: 28px;
						background-position: -184px -539px;
					}
					.menu-content2>.icon{
						width: 27px;
						background-position: -510px -539px;
					}
					.menu-content3>.icon{
						width: 42px;
						background-position: -144px -470px;
					}
					.menu-content4>.icon{
						width: 26px;
						background-position: -539px -567px;
					}
					.menu-content5>.icon{
						width: 54px;
						background-position: -385px -421px;
					}
						.icon{
							display: inline-block;
							height: 16px;
							background-image: url('https://s.pstatic.net/static/www/m/2018/sp_main_v181115a.png');
							background-size: 655px 642px;
						}
		.plus{
			position: absolute;
			top: 0px;
			right: 0px;
			width: 43px;
			height: 42px;
			border-left: solid 1px #CCCCCC;
			z-index: 1;
			padding: 15px 13.5px 13px;
		}
			.plus-img{
				width: 100%;
				height: 100%;
				background-position: -627px -401px;
				background-image: url('https://s.pstatic.net/static/www/m/2018/sp_main_v181115a.png');
				background-size: 655px 642px;
				cursor: pointer;
			}
.bottom{
	background-color: #DCDCDC;
	padding-top: 10px;
	height: 500px;
}
.bottom-in{
	position: relative;
}
.contents{
	width: 33.3%;
	background-color: #FFFFFF;
	position: absolute;
}
#box1{
	height: 246px;
	left: 0px;
	top: 0px;
}
#box2{
	height: 75px;
	left: calc(100% / 3);
	top: 0px;
}
#box3{
	height: 155px;
	right: 0px;
	top: 0px;
}
#box4{
	height: 60px;
	left: 0px;
	top: 256px;
}
#box5{
	height: 86px;
	left: calc(100% / 3);
	top: 85px;
}
#box6{
	height: 261px;
	right: 0px;
	top: 165px;
}
#box7{
	height: 100px;
	left: calc(100% / 3);
	top: 181px;
}
@media (max-width: 1023px){
	.contents{
		width: calc(100% / 2);
	}
	#box4{
		left: calc(100% / 2);
		top: 75px;
	}
	#box2{
		left: calc(100% / 2);
	}
	#box5{
		top: 408px;
		left: 0px;
	}
	#box7{
		top: 405px;
		left: calc(100% / 2);
	}
	#box3{
		left: 0px;
		top: 258px;
	}
	#box6{
		top: 145px;
		left: calc(100% / 2);
	}
}
@media (max-width: 633px){
	.contents{
		width: calc(100%);
		position: unset;
	}
}